<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <img src="favicon.ico" alt="icon">
            <div class="navbar-brand">Yummy Recipes</div>
        </div>
        <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <a [routerLink]="['/recipes']">Recipes</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/shopping-list']">Shopping List</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAuthenticated">
                    <a [routerLink]="['/recipes/new']">New Recipe</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a (click)="onSaveData()" *ngIf="isAuthenticated">
                        <img src="assets/icons/save.png" alt="save" class="save-icon mr-xlg">
                        <span>Save Data</span>
                    </a>
                </li>
                <li routerLinkActive="active" *ngIf="!isAuthenticated" class="mr-xlg">
                    <a [routerLink]="['/authentication']">Authenticate</a>
                </li>
                <li class="mr-xlg">
                    <a (click)="onLogout()" *ngIf="isAuthenticated">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
