input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched {
    border: 1px solid red;
}

img {
    max-height: 300px;
    text-align: center;
}

.button-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}

.header {
    margin-left: 5px;
}