input.ng-invalid.ng-touched {
  border: 1px solid red;
}

button {
  margin: 5px;
}

.form-signin {
  width: 100%;
  max-width: 340px;
  padding: 15px;
  margin: 0 auto;
}

.help-block {
  color: red;
}
