<div class="row detail-box">
  <div class="col-xs-8">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="col-xs-4 text-right" *ngIf="isAuthenticated">
    <div appDropdown class="btn-group">
      <button 
        type="button" 
        class="dropdown-toggle">
        <span class="fas fa-ellipsis-v"></span>
      </button>
      <ul class="dropdown-menu pull-right">
        <li><a [routerLink]="['edit']">Edit Recipe</a></li>
        <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row mb-xlg">
  <div class="col-xs-12">
      <em>{{ recipe.description}}</em>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}">
  </div>
</div>
<div class="row detail-box space-between">
  <div class="text-center invisible-card detail-box">
    <i class="far fa-clock"></i>
    <h4><u>Preparation Time:</u> {{ recipe.preparationTime }}</h4>
  </div>
  <div class="text-center invisible-card">
    <i class="fas fa-utensils"></i>
    <h4><u>Serves:</u> {{ recipe.serves }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-8">
    <h3>Ingredients</h3>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">
          {{ ingredient.amount }} {{ ingredient.unit }} {{ ingredient.name }}
        </label>
      </li>
    </ul>
  </div>
  <div class="col-xs-4">
    <button 
      type="button"
      (click)="onAddToShoppingList()"
      class="btn btn-outline-secondary pull-right"
      >
        <i class="fas fa-shopping-bag"></i>
        <span>Add to Shopping list</span>
    </button>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h3>Instructions</h3>
    <h5 class="test">{{ recipe.instructions }}</h5>
  </div>
</div>
