h1, h3 {
    margin-top: 10px;
    font-weight: 600;
}

h5 {
    white-space: pre-line;
    font-size: 16px;
}

img {
    width: 100%;
    height: auto;
}

ul {
    list-style-type:none;
}

li {
    display: flex;
}

label {
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: normal;
}

button > span {
    margin-left: 10px;
}

.detail-box {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.space-between {
    justify-content: space-between;
}

.invisible-card {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px
}

.far, .fas {
    font-size: 32px;
}
.fa-ellipsis-v, .fa-shopping-bag {
    font-size: 24px !important;
}

.dropdown-toggle {
    background-color: white;
    border: none;
}
.btn-group.open .dropdown-toggle {
    box-shadow: none;
}

.btn-outline-secondary {
    margin-top: 5px;
    color: #6c757d;
    border-color: #6c757d;
    background-image: none;
    background-color: transparent;
    display: flex;
    align-items: center;
}