<div class="row detail-box">
  <div class="col-xs-8">
    <h1>{{ recipe.name }}</h1>
  </div>
  <div class="col-xs-4 text-right" *ngIf="isAuthenticated">
    <div appDropdown class="btn-group">
      <button 
        type="button" 
        class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()">To Shopping List</a></li>
        <li><a [routerLink]="['edit']">Edit Recipe</a></li>
        <li><a (click)="onDeleteRecipe()">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row mb-xlg">
  <div class="col-xs-12">
      <em>{{ recipe.description}}</em>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 text-center">
    <img [src]="recipe.imagePath" alt="{{ recipe.name }}">
  </div>
</div>
<div class="row detail-box space-between">
  <div class="text-center invisible-card detail-box">
    <i class="far fa-clock"></i>
    <h4><u>Preparation Time:</u> {{ recipe.preparationTime }}</h4>
  </div>
  <div class="text-center invisible-card">
    <i class="fas fa-utensils"></i>
    <h4><u>Serves:</u> {{ recipe.serves }}</h4>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Ingredients:</h4>
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">
        <h5>{{ ingredient.amount }}{{ ingredient.unit }} {{ ingredient.name }}</h5>
      </li>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h4>Instructions:</h4>
    <h5 class="test">{{ recipe.instructions }}</h5>
  </div>
</div>
